<div id="chart" class="flex w-11/12 flex-col justify-center">

    <canvas class="chartjs-render-monitor" id="myChart"></canvas>

    <script>
        function buildChart() {
            let ctx = document.getElementById('myChart').getContext('2d');

            let config = {
                type: 'line',
                    data: {
                    labels : {{ .lab }},
                    datasets: [{
                        label: 'sys',
                        data: {{ .sys }},
                        borderColor: '#CD5C5C' ,
                    },
                    {
                        label: 'dys',
                        data: {{ .dys }},
                        borderColor: '#3e478d',
                    },
                    {
                        label: 'puls',
                        data: {{ .puls }},
                        borderColor: '#06cc45',

                    }]
                },
                options: {
                    aspectRatio: 1.8,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            }
            return new Chart(ctx, config);
        }

        var myChart = buildChart();


    </script>

    <div class="flex w-full justify-start p-10">
        <div class="flex justify-evenly">
        <span class="m-1 rounded border-2 border-black p-3 shadow-xl shadow-gray-500">
            <label>from: </label>
            <input id="from" class="bg-transparent" name="from" type="date" {{ if not (eq .from "")}}value="{{ .from }}"{{end}}/>
        </span>
        <span class="m-1 rounded border-2 border-black p-3 shadow-xl shadow-gray-500">
            <label> to:</label>
            <input id="to" class="bg-transparent" name="to" type="date"  {{ if not (eq .to "")}}value="{{ .to }}"{{end}}/>
        </span>
        <button class="m-1 rounded border-2 border-black p-3 shadow-xl shadow-gray-500" \
            hx-include="closest div"
            hx-get="/historyChart"
            hx-target="#chart"
            hx-swap="outerHTML"
            _='on mousedown remove .shadow-xl end
            on mouseup add .shadow-xl end
            on mousedown add .scale-95 end
            on mouseup remove .scale-95 end
            on mouseleave remove .scale-95 end
            on mouseleave add .shadow-xl end'>filter</button>
        </div>
    </div>

    <span id="refresh" hx-get="/historyChart" hx-trigger="addedEntry" hx-target="#chart" hx-include="#from, #to" hx-swap="outerHTML"></span>
</div>

