<div id="chart" class="flex flex-col w-11/12 h-72 justify-center bg-red-100">

    <canvas class="chartjs-render-monitor" id="myChart"></canvas>

    <script>
        function buildChart() {
            let ctx = document.getElementById('myChart').getContext('2d');

            let config = {
                type: 'line',
                    data: {
                    labels : {{ .lab }},
                    datasets: [{
                        label: 'sys',
                        data: {{ .sys }},
                        borderColor: '#CD5C5C' ,
                    },
                    {
                        label: 'dys',
                        data: {{ .dys }},
                        borderColor: '#3e478d',
                    },
                    {
                        label: 'puls',
                        data: {{ .puls }},
                        borderColor: '#06cc45',

                    }]
                },
                options: {
                    aspectRatio: 1.8,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            }
            return new Chart(ctx, config);
        }

        var myChart = buildChart();


    </script>

    <div class="p-10 w-full flex justify-start">
        <div class="flex justify-evenly">
        <span class="border-2 border-black rounded p-3 shadow-xl shadow-gray-500 m-1">
            <label>from: </label>
            <input id="from" name="from" type="date" {{ if not (eq .from "")}}value="{{ .from }}"{{end}}/>
        </span>
        <span class="border-2 border-black rounded p-3 shadow-xl shadow-gray-500 m-1">
            <label> to:</label>
            <input id="to" name="to" type="date"  {{ if not (eq .to "")}}value="{{ .to }}"{{end}}/>
        </span>
        <button class="border-2 border-black rounded p-3 shadow-xl shadow-gray-500 m-1 hover:scale-95" hx-include="closest div" hx-get="/historyChart" hx-target="#chart" hx-swap="outerHTML">filter</button>
        </div>
    </div>
</div>

