<tr>
    <td class="p-4 text-left border-solid border-black border"><input class="w-12" name="sys" type="number" value="{{ .entry.Sys }}"/></td>
    <td class="p-4 text-left border-solid border-black border"><input class="w-12" name="dys" type="number" value="{{ .entry.Dys }}"/></td>
    <td class="p-4 text-left border-solid border-black border"><input class="w-12" name="puls" type="number" value="{{ .entry.Puls }}"/></td>
    <td class="p-4 text-left border-solid border-black border">{{ .entry.T }}</td>
    <td class="p-4 text-left border-solid border-black border"><input name="sport" type="checkbox" {{ if .entry.Sport }}checked{{ end }} value="true"/></td>
    <td class="p-4 m-0 border-solid border-black border justify-evenly">
        <button hx-put="/entry/{{.entry.Id}}" hx-include="closest tr">Save</button>
        <button class="ml-3" hx-get="/entry/{{.entry.Id}}">Cancel</button>
    </td>
</tr>
