<div id="table" class="m-10 w-5/6 flex-col justify-evenly font-sans">
    <table class="w-full shadow-xl shadow-gray-500">
    <thead>
        <tr class="bg-blue-300">
            <th class="w-1/6 border border-solid border-black p-4 text-left">
                <button hx-get="/table/{{ .active }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"sys", "order":"{{ .order }}", "pagesize":"{{ .pagesize }}" {{ if not (eq .orderBy "sys") }},"noswitch":"true"{{end}}}'>Sys {{ if eq .orderBy "sys" }}&#{{ .symbol }};{{end}}</button>
            </th>
            <th class="w-1/6 border border-solid border-black p-4 text-left">
                <button hx-get="/table/{{ .active }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"dys", "order":"{{ .order }}", "pagesize":"{{ .pagesize }}" {{ if not (eq .orderBy "dys") }},"noswitch":"true"{{end}}}'>Dys {{ if eq .orderBy "dys" }}&#{{ .symbol }};{{end}}</button>
            </th>
            <th class="w-1/6 border border-solid border-black p-4 text-left">
                <button hx-get="/table/{{ .active }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"puls", "order":"{{ .order }}", "pagesize":"{{ .pagesize }}" {{ if not (eq .orderBy "puls") }},"noswitch":"true"{{end}}}'>Puls {{ if eq .orderBy "puls" }}&#{{ .symbol }};{{end}}</button>
            </th>
            <th class="w-1/6 border border-solid border-black p-4 text-left">
                <button hx-get="/table/{{ .active }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"t", "order":"{{ .order }}", "pagesize":"{{ .pagesize }}" {{ if not (eq .orderBy "t") }},"noswitch":"true"{{end}}}'>Date {{ if eq .orderBy "t" }}&#{{ .symbol }};{{end}}</button>
            </th>
            <th class="w-1/6 border border-solid border-black p-4 text-left">
                <button hx-get="/table/{{ .active }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"sport", "order":"{{ .order }}", "pagesize":"{{ .pagesize }}" {{ if not (eq .orderBy "sport") }},"noswitch":"true"{{end}}}'>Sport {{ if eq .orderBy "sport" }}&#{{ .symbol }};{{end}}</button>
            </th>
            <th class="w-1/6 border border-solid border-black p-4 text-left"></th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
    {{ range .data }}
    <tr>
        <td class="border border-solid border-black p-4 text-left">{{ .Sys }}</td>
        <td class="border border-solid border-black p-4 text-left">{{ .Dys }}</td>
        <td class="border border-solid border-black p-4 text-left">{{ .Puls }}</td>
        <td class="border border-solid border-black p-4 text-left">{{ .T }}</td>
        <td class="border border-solid border-black p-4 text-left">{{ .Sport }}</td>
        <td class="border border-solid border-black p-4 text-left">
            <button hx-get="/editrow/{{ .Id }}">Edit</button>
            <button class="ml-3" hx-confirm="Are you sure?" hx-delete="/delete/{{ .Id }}">Delete</button>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>

<div class="flex w-full justify-between p-10">
    <div class="flex justify-evenly">
    <span class="m-1 rounded border-2 border-black p-3 shadow-xl shadow-gray-500">
        <label>from: </label>
        <input id="from" class="bg-transparent" name="from" type="date" {{ if not (eq .from "")}}value="{{ .from }}"{{end}}/>
    </span>
    <span class="m-1 rounded border-2 border-black p-3 shadow-xl shadow-gray-500">
        <label> to:</label>
        <input id="to" class="bg-transparent" name="to" type="date"  {{ if not (eq .to "")}}value="{{ .to }}"{{end}}/>
    </span>
    <button class="m-1 rounded border-2 border-black p-3 shadow-xl shadow-gray-500" hx-include="closest div" hx-get="/table/1" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"{{ .orderBy }}", "order":"{{ .order }}", "noswitch":"true"}' _='on mousedown remove .shadow-xl end on mouseup add .shadow-xl end on mousedown add .scale-95 end on mouseup remove .scale-95 end on mouseleave remove .scale-95 end on mouseleave add .shadow-xl end'>filter</button>
    </div>

    <div>
        <button class="p-2 border-2 border-black rounded m-1 shadow-gray-500 shadow-xl {{ if eq .pagesize 10 }}bg-blue-300 {{ end }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-get="/table/{{ .active }}" hx-vals='{"orderBy":"{{ .orderBy }}", "order":"{{ .order }}", "noswitch":"true", "pagesize":10}' _='on mousedown remove .shadow-xl end on mouseup add .shadow-xl end on mousedown add .scale-95 end on mouseup remove .scale-95 end on mouseleave remove .scale-95 end on mouseleave add .shadow-xl end'>10</button>
        <button class="p-2 border-2 border-black rounded m-1 shadow-gray-500 shadow-xl {{ if eq .pagesize 25 }}bg-blue-300 {{ end }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-get="/table/{{ .active }}" hx-vals='{"orderBy":"{{ .orderBy }}", "order":"{{ .order }}", "noswitch":"true", "pagesize":25}' _='on mousedown remove .shadow-xl end on mouseup add .shadow-xl end on mousedown add .scale-95 end on mouseup remove .scale-95 end on mouseleave remove .scale-95 end on mouseleave add .shadow-xl end'>25</button>
        <button class="p-2 border-2 border-black rounded m-1 shadow-gray-500 shadow-xl {{ if eq .pagesize 50 }}bg-blue-300 {{ end }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-get="/table/{{ .active }}" hx-vals='{"orderBy":"{{ .orderBy }}", "order":"{{ .order }}", "noswitch":"true", "pagesize":50}' _='on mousedown remove .shadow-xl end on mouseup add .shadow-xl end on mousedown add .scale-95 end on mouseup remove .scale-95 end on mouseleave remove .scale-95 end on mouseleave add .shadow-xl end'>50</button>
    </div>

    <div>
        {{ range .pages }}
        <button class="p-2 border-2 border-black rounded m-1 shadow-gray-500 shadow-xl {{ if .Active }}bg-blue-300 {{ end }}" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-get="/table/{{ .Page }}" hx-vals='{"orderBy":"{{ .OrderBy }}", "order":"{{ .Order }}", "noswitch":"true", "pagesize":{{ .Pagesize }}}' _='on mousedown remove .shadow-xl end on mouseup add .shadow-xl end on mousedown add .scale-95 end on mouseup remove .scale-95 end on mouseleave remove .scale-95 end on mouseleave add .shadow-xl end'>{{ .Page }}</button>
        {{ end }}
    </div>
</div>
    <span id="refresh" hx-get="/table/{{ .active }}" hx-trigger="addedEntry" hx-include="#from, #to" hx-target="#table" hx-swap="outerHTML" hx-vals='{"orderBy":"{{ .orderBy }}", "order":"{{ .order }}", "noswitch":"true", "pagesize":"{{ .pagesize }}"}'></span>
</div>
