<tr>
    <td class="border border-solid border-black p-4 text-left">
        <input class="w-12 bg-transparent" name="sys" type="number" value="{{ .entry.Sys }}"/>
    </td>
    <td class="border border-solid border-black p-4 text-left">
        <input class="w-12 bg-transparent" name="dys" type="number" value="{{ .entry.Dys }}"/>
    </td>
    <td class="border border-solid border-black p-4 text-left">
        <input class="w-12 bg-transparent" name="puls" type="number" value="{{ .entry.Puls }}"/>
    </td>
    <td class="border border-solid border-black p-4 text-left">{{ .entry.T }}</td>
    <td class="border border-solid border-black p-4 text-left">
        <input name="sport" type="checkbox" {{ if .entry.Sport }}checked{{ end }} value="true"/>
    </td>
    <td class="m-0 border border-solid border-black p-4">
        <button hx-put="/entry/{{.entry.Id}}" hx-include="closest tr">Save</button>
        <button class="ml-3" hx-get="/entry/{{.entry.Id}}">Cancel</button>
    </td>
</tr>
